/* @import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap'); */

* {
  /*font-family: 'Jura', sans-serif;*/
  font-family: 'Times New Roman', serif;
}

h1, h2 {
  text-align: right;
}

body {
  height: 100%;
  overflow: scroll;
}

footer {
  text-align: center;
}

#wrapper {
  width:66%;
  margin: 0 auto;
  padding: 35px;
  background: #fff;
  color:#000;
}

ol {
  list-style-type: upper-roman;
}

a {
  color: red;
}

a:hover {
  font-weight: bold;
}
a:active {
  color:000;
}
a:visited {
  color:grey;
}

img {
  max-width: 100%; 
  max-height: 100%;
  padding:3px;
}

.container, .fixed, .fixed-large {
  margin:10px;
}

.dataBlock {

}

.imageBlock {
  width:auto    ;
  height:100px;
  margin: 2px;
  display: flex;
}

.container{
  display: flex;
}

.smallContainer {
  text-align:center;
  display: flex;
  margin:1px;
}

.fixed{
  width: 35%;
  min-width:200px;
  float:left;
}

.fixed-large{
  width: 65%;
  min-width:300px;
  float:right;
}
.flex-item{
    flex-grow: 1;
}

@media only screen and (max-width: 767px)
{
    .fixed, .fixed-large, .container
    {
        display: block; 
        float: left; 
        width: 100%;
        padding: 10px 0;
    }
}