/* @import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap'); */

* {
  /*font-family: 'Jura', sans-serif;*/
  font-family: 'Times New Roman', serif;
}

h1, h2 {
  text-align: right;
}

body {
  height: 100%;
  overflow: scroll;
}

footer {
  text-align: center;
}

#wrapper {
  width:66%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  color:#000;
}

ol {
  list-style-type: upper-roman;
}

a {
  color: red;
}

a:hover {
  font-weight: bold;
}
a:active {
  color:000;
}
a:visited {
  color:grey;
}

img {
  max-width: 100%; 
  max-height: 100%;
  padding:3px;
}

.container, .fixed, .fixed-large {
  margin:10px;
}

.dataBlock {
  
}

.imageBlock {
  width:auto    ;
  height:100px;
  margin: 2px;
  display: flex;
}

.container{
  display: flex;
}

.smallContainer {
  text-align:center;
  display: flex;
  margin:1px;
}

.fixed{
  width: auto;
  min-width:50%;
  float:left;
}

.fixed-large{
  width: auto;
  min-width:50%;
  float:right;
}
.flex-item{
    flex-grow: 1;
}

<style type="text/css">

.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img{
border: 1px solid white;
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 1px solid blue;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;
top: 0;
left: 230px; /*position where enlarged image should offset horizontally */
z-index: 50;
}

</style>



@media only screen and (max-width: 767px)
{
    .fixed, .fixed-large, .container
    {
        display: block; 
        float: left; 
        width: 100%;
        padding: 10px 0;
    }
}